#banner {
	height: 74vh ;
	background-image: url("../images/books.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}